{
### REACHABILITY ###
# Define a desired state for the Random Petri Nets to Reach
# (include ',' and '.') ex: "holds(p1,Q,_),type(a,Q)."
    
    "reach" : "",


### FILE: _arcs.py ###
    
    "bond_destruction_chance" : 0.0,
    "bond_creation_chance" : 0.5,

    "bond_create_fraction" : 0.3,
    "bond_consume_fraction" : 0.3,

    # Optional: turn on extra validation prints from _arcs.py
    "validate_arcs" : False,
    

### FILE: _rules.py ###
    
    "default_node_weight" : 50,
    "rule1weight" : 14,
    "rule2weight" : 14,
    "rule3weight" : 14,
    "rule4weight" : 10,
    "rule5weight" : 10,
    "rule6weight" : 10,
    "rule7weight" : 8,
    "rule8weight" : 8,
    "rule9weight" : 8,
    "print_stats" : True,
    "print_rule_freq" : True,
    "print_places_and_transitions" : True,
    "print_num_bonds_created_and_destr" : True,
    "print_arc_weights" : True,
    "print_token_distribution" : True,
    "print_number_of_tokens_per_type" : True,


### FILE: main_script.py ###

# Clingo/ASP file names

    "multifire_rules_file" : "lp_files_run/mfMPN.lp",
    "normal_fire_rules_file" : "lp_files_run/MPN.lp",

# default values for main_script.py

    "places_to_stop" : 10,
    "graph_degree" : 5,
    "max_bond_arcs" : 15,
    "places_par" : 0.4,
    "trans_par" : 0.4,
    "arcs_par" : 0.3,
    "time_instances" : 10,
    "token_types" : "a,b,c",
    "extra_tokens" : 5,
    "path" : "randomPN.lp",
    "add_bonds": True,

# information shown when hovering above GUI labels

    "info0" : "The number of places you want the Random Petri Net to have.",
    "info1" : "The degree of the graph places and transitions.",
    "info2" : "Closer to 1 means a higher chance for the same place to be selected in rules repeatedly.",
    "info3" : "Closer to 1 means a higher chance for the same transition to be selected in rules repeatedly.",
    "info4" : "Closer to 1 means a higher chance for the same arc to be selected in rules repeatedly.",
    "info5" : "Number of distinct time instances for the P.N. simulation.",
    "info6" : "The types of the tokens in the Random P.N. (Separate with \',\')",
    "info7" : "Number of extra random tokens to be placed on places.",
    "info8" : "Maximum number of bonds used as weights on the arcs.",
    "info9" : "Path to save the Random Petri Net .lp file."
}